<!DOCTYPE html>
<html lang="{{ .Lang }}" {{ if or (eq .Lang "ar") (eq .Lang "fa") }}dir="rtl"{{ end }}>

    <head>
        {{ partial "head.html" . }}
        {{ block "requiredJS" . }}
        {{ end }}
    </head>

    <body class="scrollspy-area" data-spy="scroll" data-target="#index_sections" data-offset="180">

        <a class="skip_link" href="#main_content">Skip to main content</a>

        <header>
            {{ partial "nav.html" . }}
        </header>

        <main id="main_content" tabindex="-1">
	    {{ partial "hero_header.html" . }}
            {{ block "main" . }}
                <!-- The part of the page that begins to differ between templates -->
            {{ end }}
        </main>

        {{ partial "footer.html" . }}

        {{ partial "js.html" . }}

        {{ block "extraJS" . }}
        {{ end }}

    </body>

</html>
