{{ define "main" }}

<div class="container">
    <div class="row">
        <div class="col">

            {{ if .Content }}
            <div class="container pt-6 pt-md-12">
                <div class="row">
                    <div class="col-12">
                        <div class="page-intro">
                            {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}

            {{ $columnWidth := 12 }}
            {{ if .Params.twitterLists }}
            {{ $columnWidth = div 12 (add (len .Params.twitterLists) 1) }}
            {{ end }}
            <div class="container pb-6 pt-6 pb-md-12 pt-md-12">
                <div class="row">
                    {{ partial "posts.html" (dict "list" .Pages "width" $columnWidth "max_posts" 20)}}
                    {{ partial "twitter-timeline.html" (dict "list" .Params.twitterLists "height" 1250 "width" $columnWidth)}}
                </div>
            </div>

        </div>
    </div>
</div>

{{ end }}
