{{ define "main" }}

<div class="container">
    <div class="row">
        <div class="col">

            {{ if .Content }}
            <div class="container pt-6 pt-md-12">
                <div class="row">
                    <div class="col-12">
                        <div class="page-intro">
                            {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}

            {{ $columnWidth := 12 }}
            {{ if .Params.meetupEvents }}
            {{ $columnWidth = div 12 (add (len .Params.meetupEvents) 0) }}
            {{ end }}
            <div class="container pb-6 pt-6 pb-md-12 pt-md-12">
                <div class="row flex_box" id="meetup_events">
                    {{ partial "meetup-events.html" (dict "list" .Params.meetupEvents "width" $columnWidth)}}
                </div>
            </div>

        </div>
    </div>
</div>

{{ end }}
