To **check** past job offers, go to the [Mailing List Archive]({{ .Get "mailing_list_url" }}).

To **publish** a new job offer:

* Send it to {{ .Get "mail" }}.
* Subject: *Job offer: {POSITION} at {COMPANY}*, where *{POSITION}* is the position of the job offer, and *{COMPANY}* is the name of your company.
* For the body, feel free to check other job offers as inspiration.
* If the rules are met, we'll publish the offer!

All job offers **must** follow these rules:

1. Be related to Python.
2. Contain a good job description, including a valid role, specifying a location or if it's a remote job, and a valid link or mail address to apply.
3. Provide the name of the company.
4. Provide a salary range.

**Disclaimers**:

* As your email will be sent to the Meetup.com's mailing list, it's important to notice it removes all mail addresses and attachments, so, please avoid these or use substitutes, like "mail at domain", instead of "mail@domain", or a URL to the application page
.
* We ban cheaters. Don't post offers in comments, events, or discussions!
