{% macro toc(node) %}
    {% if node.parent._model == 'event' %}
        <h3 class="widget-title">
            <i class="fa fa-hand-o-right"></i>
            <a href="{{ node.parent|url }}">{{ node.parent.title }}</a>
        </h3>
        <ul id="toc" class="toc-entries">
        {% for event_info in site.query(node.parent.path).order_by('order') %}
            <li>
                <a href="{{ event_info|url }}">{{ event_info.title }}</a>
                <ul class="toc-subentries">
                {% for child in event_info.children %}
                    <li><a href="{{ child|url }}">{{ child.title }}</a></li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        {{ toc(node.parent) }}
    {% endif %}
{% endmacro %}

{% macro venue(node) %}
    <h3 class="widget-title">
        <i class="fa fa-university"></i>
        Venue
    </h3>
    {% if node.children.filter(F._model == 'venue').first().name is defined %}
        {{ node.children.filter(F._model == 'venue').first().description }}
        <iframe width="100%" height="250" src="{{ node.children.filter(F._model == 'venue').first().map_link }}"></iframe>
    {% else %}
        The venue for this event is not published, yet...
    {% endif %}
{% endmacro %}

{% macro activities(node) %}
    <h3 class="widget-title">
        <i class="fa fa-cog"></i>
        Activities
    </h3>
    {% if node.children.filter(F._model == 'activity').first().name is defined %}
        The activities are {{ node.children.filter(F._model == 'activity').first().name }}}
    {% else %}
        The activities for this event are not published, yet...
    {% endif %}
{% endmacro %}
