{% macro toc(node) %}
    {% if node.parent._model == 'event' %}
        <h3 class="widget-title">
            <i class="fa fa-hand-o-right"></i>
            <a href="{{ node.parent|url }}">{{ node.parent.title }}</a>
        </h3>
        <ul id="toc" class="toc-entries">
        {% for event_info in site.query(node.parent.path).order_by('order') %}
            <li>
                <a href="{{ event_info|url }}">{{ event_info.title }}</a>
                <ul class="toc-subentries">
                {% for child in event_info.children.filter(F._model == 'event-info') %}
                    <li><a href="{{ child|url }}">{{ child.title }}</a></li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        {{ toc(node.parent) }}
    {% endif %}
{% endmacro %}

{% macro venue(node) %}
    {% set venue = node.children.filter(F._model == 'venue').first() %}
    <h3 class="widget-title">
        <i class="fa fa-university"></i>
        Venue
    </h3>
    {% if venue.name is defined %}
        <img src="{{ venue.parent.parent.children.filter(F._id == venue.sponsor_id).first().attachments.images.first().thumbnail(160)|url }}" />
        {{ venue.description }}
        <iframe width="100%" height="250" src="{{ venue.map_link }}"></iframe>
    {% else %}
        The venue for this event is not published, yet...
    {% endif %}
{% endmacro %}

{% macro activities(node) %}
    <h3 class="widget-title">
        <i class="fa fa-cog"></i>
        Activities
    </h3>
    {% if node.children.filter(F._model == 'activity').first().title is defined %}
        The activities are :
        <ul>
        {% for activity in node.children.filter(F._model == 'activity').order_by('moment') %}
            <li>
                <b>{{ activity.moment }}</b>
                <a href="{{activity._slug}}">{{ activity.title }}</a>,
                {% if activity.speaker_name is defined %}
                    by {{ activity.speaker_name }},
                {% endif %}
                at {{ activity.room }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        The activities for this event are not published, yet...
    {% endif %}
{% endmacro %}
