{% macro sponsors(node, level, size = 320) %}
    <ul class="sponsors">
    {% for child in node.children.filter((F._model == 'sponsor').and(F.level == level)) %}
        <li>
            <a href="{{ child|url }}">
                <img src="{{ child.attachments.images.first().thumbnail(size)|url }}" alt="{{ child.name }}" />
            </a>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro sponsor_has_jobs(sponsor) %}
    {{ sponsor.children.filter(F._model == 'job_offer').first().title }}
{% endmacro %}

{% macro jobs_from_sponsor(node, current_node) %}
    {% set job_offers = node.children.filter(F._model == 'job_offer') %}
    {% if job_offers %}
        <ul>
        {% for job_offer in job_offers %}
            <li>
                <a href="{{ job_offer._path }}">
                    {{ job_offer.title }}
                    {% if current_node != node %}
                        at {{ node.name }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro get_jobs_from_sponsors(node, levels) %}
    {% for level in levels %}
        {% for sponsor in node.children.filter(F._model == 'sponsor' and F.level == level) %}
            {{ jobs_from_sponsor(sponsor, node) }}
        {% endfor %}
    {% endfor %}
{% endmacro %}

{% macro sponsors_have_jobs(node, levels) %}
    {% for sponsor in node.children.filter(F._model == 'sponsor') %}
        {% if sponsor.level in levels and sponsor.children.filter(F._model == 'job_offer').first().title %}
            {{ sponsor.children.filter(F._model == 'job_offer').first().title }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro jobs_from_sponsors(node) %}
    {% set levels = ['platinum', 'gold', 'silver', 'bronze'] %}
    {% if sponsors_have_jobs(node, levels)|trim %}
        <div class="row event-sponsors-jobs">
            <div class="col-md-12">
                <div class="widget">
                    <h2>
                        <i class="fa fa-industry" aria-hidden="true"></i>
                        Job Offers from our sponsors
                    </h2>
                    <div class="col-md-12">
                        {{ get_jobs_from_sponsors(node, levels) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
