
.btn > a {
    color: #FFFFFF;
    text-decoration: none;
}

footer {
    color: #1C4B42;
    text-align: center;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto
}