{% extends "layout-event-info.html" %}
{% from "macros/sponsors.html" import sponsors %}
{% block title %}{{ this.parent.title }} | {{ this.title }}{% endblock %}
{% block body %}
    {% if this._id == 'sponsorship' %}
        {{ sponsors(this.parent) }}
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <h2>
                        <i class="fa fa-hand-o-right"></i>
                        Willing to see your company here?
                    </h2>
                    {{ this.content }}
                </div>
            </div>
        </div>
    {% else %}
        {{ this.content }}
    {% endif %}
{% endblock %}
