{% extends "layout-event-info.html" %}
{% block title %}{{ this.parent.title }} | {{ this.name }}{% endblock %}
{% block body %}
    <dl>
        <dt>
            Title:
        </dt>
        <dd>
            {{ this.title }}
        </dd>
        <dt>
            Description:
        </dt>
        <dd>
            {{ this.description }}
        </dd>
        {% set sponsor_logo = this.parent.attachments.images.first() %}
        <dt>
            Job offer published by:
        </dt>
        <dd>
            <img src="{{ sponsor_logo.thumbnail(160)|url }}" />
        </dd>
    </dl>
{% endblock %}
