<!-- Source: https://www.liquidlight.co.uk/blog/create-an-event-schedule-with-html-table/ -->

<style type="text/css">
	.scheduleContainer {
		grid-template-columns: 5rem repeat({{ .numTracks }}, 1fr);
		grid-template-rows: repeat({{len .eventTimes}}, 1fr) !important;
		grid-template-areas:
			{{ $num := (int .numTracks) }}
			{{ range $time := .eventTimes }}
				"time{{ replace $time ":" "" }}{{ strings.Repeat $num " stage" }}"
			{{ end }};
	}

	{{ range $ids, $num := (seq (int .numTracks)) }}
		.scheduleContainer .event.length-{{ $num }} {
			grid-column-end: span {{ $num }};
		}
	{{ end }}


</style>

{{ if .legend }}
	<div class="legend">
		{{ .legend  | safeHTML }}
	</div>
{{ end }}

<div class="scheduleContainer span{{ .spansDuration }}min">

	{{ range $time := .eventTimes }}
		<div class="time start-{{ replace $time ":" "" }}">{{$time}}</div>
	{{ end }}

	{{ range $index, $event := .events }}
		<div class="event {{ $event.class }} {{ $event.color }} start-{{ replace $event.start_time_slot ":" "" }} end-{{ replace $event.end_time_slot ":" "" }} length-{{ $event.track_length }}">

			{{ if $event.description }}
				<a href="" class="detail_link" data-toggle="modal" data-target="#modal_{{ $index }}">
					<i class="fas fa-plus-square"></i>
				</a>
			{{ end }}


			<h3>
				{{ if eq $event.type "talk" }}
					<i class="fas fa-comment"></i>
				{{ else if eq $event.type "coffee" }}
					<i class="fas fa-mug-hot"></i>
				{{ else if eq $event.type "lunch" }}
					<i class="fas fa-utensils"></i>
				{{ else if eq $event.type "workshop" }}
					<i class="fas fa-laptop"></i>
				{{ else if eq $event.type "group" }}
					<i class="fas fa-users"></i>
				{{ else if eq $event.type "qa" }}
					<i class="fas fa-question-circle"></i>
				{{ else if eq $event.type "lightning" }}
					<i class="fas fa-bolt"></i>
				{{ end }}

				{{ if $event.description }}
					<a href="" data-toggle="modal" data-target="#modal_{{ $index }}">
				{{ end }}
				{{ $event.title }}
				{{ if $event.description }}
					</a>
				{{ end }}
			</h3>

			{{ with $event.speaker }}
			<span>{{ . }}</span>
			{{ end }}

			{{ if $event.sponsor }}
			{{ with $event.sponsor }}
			<span><i class="fas fa-star gold"></i> {{ . }}</span>
			{{ end }}
			{{ end }}


			{{ with $event.location }}
				<br/><span class="event_topic"><i class="fas fa-terminal"></i>
					{{ if or (in . "www") (in . "http") }}
						<a class="event_location" href="{{ $event.location }}" target="_blank">{{ . }}</a>
					{{ else }}
						{{ . }}
					{{ end }}
				</span>
			{{ end }}
			{{ with $event.language }}
				<span class="event_language"><i class="fas fa-terminal"></i> Language: {{ . }}</span>
			{{ end }}
			{{ with $event.topic }}
				<span class="event_topic"><i class="fas fa-terminal"></i> Topic: {{ . }}</span>
			{{ end }}
			{{ with $event.python_level }}
				<span class="event_level"><i class="fas fa-terminal"></i> Python level: {{ .  | safeHTML }}</span>
			{{ end }}
			{{ with $event.topic_level }}
				<span class="event_level"><i class="fas fa-terminal"></i> Topic level: {{ .  | safeHTML }}</span>
			{{ end }}
			{{ with $event.video }}
			<span class="event_video"><i class="fas fa-film"></i> <a target="_blank" href="{{ . }}">Video</a></span>
		    {{ end }}
		</div>
		{{ if $event.description }}
			{{ partial "event_detail.html" (dict "event" $event "index" $index) }}
		{{ end }}
	{{ end }}
</div>
