<div class="modal fade" id="modal_{{ $.index }}" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h3 class="modal-title" id="exampleModalLabel">

                    {{ if eq $.event.type "talk" }}
                        <i class="fas fa-comment"></i>
                    {{ else if eq $.event.type "coffee" }}
                        <i class="fas fa-mug-hot"></i>
                    {{ else if eq $.event.type "lunch" }}
                        <i class="fas fa-utensils"></i>
                    {{ else if eq $.event.type "workshop" }}
                        <i class="fas fa-laptop"></i>
                    {{ else if eq $.event.type "group" }}
                        <i class="fas fa-users"></i>
                    {{ else if eq $.event.type "qa" }}
                        <i class="fas fa-question-circle"></i>
                    {{ else if eq $.event.type "lightning" }}
                        <i class="fas fa-bolt"></i>
                    {{ end }}
                    {{ $.event.title }}
                </h3>

                {{ with $.event.speaker }}
                <span>{{ . }}</span>
                {{ end }}

                {{ if $.event.sponsor }}
                {{ with $.event.sponsor }}
                <br/><span><i class="fas fa-star gold"></i> {{ . }}</span>
                {{ end }}
                {{ end }}


                {{ with $.event.location }}
                    <br/><br/><span class="event_topic"><i class="fas fa-terminal"></i>
                        {{ if or (in . "www") (in . "http") }}
                            <a class="event_location" href="{{ . }}" target="_blank">{{ . }}</a><br/>
                        {{ else }}
                            {{ . }}<br/>
                        {{ end }}
                    </span>
                {{ end }}
                {{ with $.event.language }}
                    <span class="event_language"><i class="fas fa-terminal"></i> Language: {{ . }}</span><br/>
                {{ end }}
                {{ with $.event.topic }}
                    <span class="event_topic"><i class="fas fa-terminal"></i> Topic: {{ . }}</span><br/>
                {{ end }}
                {{ with $.event.python_level }}
                    <span class="event_level"><i class="fas fa-terminal"></i> Python level: {{ .  | safeHTML }}</span><br/>
                {{ end }}
                {{ with $.event.topic_level }}
                    <span class="event_level"><i class="fas fa-terminal"></i> Topic level: {{ .  | safeHTML }}</span><br/>
                {{ end }}
                {{ with $.event.video }}
                <span class="event_video"><i class="fas fa-film"></i> <a href="{{ . }}" target="_blank">Video</a></span>
                {{ end }}
                <br/>
                <br/><p>{{ $.event.description | markdownify}}</p>
                {{ if $.event.requirements }}
                <br/><b>Requirements:</b></b><p>{{ $.event.requirements | markdownify}}</p>
                {{ end }}
                {{ if $.event.repositories }}
                <br/><b>Repository:</b></b><p>{{ $.event.repositories | markdownify}}</p>
                {{ end }}
            </div>
        </div>
    </div>
</div>