  {{ partial "head-meta.html" . }}

  {{ block "schema-dot-org" . }}
   <!-- schema.org metadata differs for Nodes and Pages -->
  {{ end }}

  <link rel="canonical" href="{{ .Permalink }}">

  <link rel="icon" href="{{ "favicon.ico" | relURL }}" sizes="any">
  <link rel="icon" type="image/png" href="{{ "favicon.png" | relURL }}">
  <link rel="apple-touch-icon" href="{{ "favicon.png" | relURL }}">

  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

  {{ $style := resources.Get "css/bootstrap.min.css" }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  {{ $style := resources.Get "scss/style.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  {{ $fontawesome := resources.Get "vendor/font-awesome/css/all.css" | minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $fontawesome.Permalink }}" integrity="{{ $fontawesome.Data.Integrity }}" crossorigin="anonymous">


  {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
  {{ with .OutputFormats.Get "rss" -}}
   <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}" />
  {{ end -}}

  {{ if .Site.Params.cookie_consent_info_url }}
    {{ partial "cookie-consent.html" . }}
  {{ end }}
