@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro"); 
@import url("//www.python.org/static/fonts/style.css");

html, body {
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    font: normal 100%/1.625 SourceSansProRegular,Arial,sans-serif;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header, footer {
    width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
    background: #2b5b84;
    background-image: linear-gradient(#1e415e 10%,#2b5b84 90%);
}

header {
    height: 150px;
    position: fixed;
}

header div.container {
    width: 765px;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

header div.container img {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0px 130.5px;
}

header div.container h1 {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

header div.container h2 {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

header div.container nav {
    display: block;
    width: 600px;
    height: 50px;
    position: relative;
    top: -5px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 8px;
    background: #3776ab;
    background-image: linear-gradient(#3776ab 30%,#2d618c 95%);
    border-top-color: rgb(98, 156, 205);
    border-bottom-color: rgb(24, 51, 75);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    overflow: visible;
    z-index: 1;
}

header div.container nav ul {
    width: 100%;
    height: 100%;
    padding: 0px 0px;
    list-style: none;
    font-size: 0px;
}

header div.container nav ul li {
    display: inline-block;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0px 0px;
    padding: 0px 20px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.2);
    font: lighter 100%/1.625 SourceSansProRegular,Arial,sans-serif;
    font-size: 18px;
}

header div.container nav ul li:first-child {
    border-left: 0px;
}

header div.container nav ul li:last-child {
    border-right: 0px;
}

header div.container nav ul li.active a {
    color: #cccccc;
}

header div.container nav ul li a {
    color: #ffffff;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
}

div.page {
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    background: #f9f9f9;
    padding: 200px 0px 0px 0px;
}

div.page div.container {
    width: 800px;
    height: 100%;
    margin: 0px auto 0px auto;
}

div.page div.container div.form {
    width: 800px;
    height: 100%;
    margin: 0px auto 0px auto;
}

div.page div.container div.form:first-of-type,
div.page div.container div.widget:first-of-type {
    margin-top: 30px;
}

div.page div.container div.form,
div.page div.container div.widget {
    padding: 20px 20px 20px 20px;
    border-top: 4px solid #75a8d3;
}

div.page div.container div.form h2,
div.page div.container div.widget h2.widget-title {
    color: #444;
    line-height: 1.25em;
    margin: 0 0 .1em;
    font: normal 200%/1.625 Flux-Regular,SourceSansProRegular,Arial,sans-serif;
}

div.page div.container div.form h2 span,
div.page div.container div.widget h2.widget-title span {
    margin-right: .25em;
    color: #4578a3;
}

div.page div.container div.widget ul.calendar {
    list-style: none;
}

div.page div.container div.widget ul.calendar li {
    border-top: 1px solid #ccc;
    padding-top: 6.563px;
    padding-bottom: 6.563px;
    color: #999;
}

div.page div.container div.widget ul.calendar li time {
    margin-right: .25em;
}

div.page div.container div.widget ul.calendar li a {
    text-decoration: none;
}

iframe.form {
    width: 765px;
    height: 55%;
    border: 0px;
    margin: 0px auto 70px auto;
    background: #f9f9f9;
}

footer {
    height: 50px;
    position: fixed;
    bottom: 0px;
    margin: 0 auto;
    padding: 10px 15px;
}

footer div.container p {
    color: #75a8d3;
    font: lighter 100%/1.625 SourceSansProRegular,Arial,sans-serif;
    font-size: 16px;
    text-align: center;
}
