<b>As a member, you can:</b>
<ul>
    <li>Have a voice and vote in our general assemblies,</li>
    <li>Participate in our board elections,</li>
    <li>Receive information about the activities of the association,</li>
    <li>Become part of the working groups,</li>
    <li>Ask questions about the association management,</li>
    <li>Make use of the common services that the association establishes or has at your disposal,</li>
    <li>Be heard before the adoption of disciplinary measures,</li>
    <li>Participate in the government and the management of the association, its services and activities,</li>
    <li>Have a copy of the statutes, and</li>
    <li>Consult the association's books.</li>
</ul>
<b>As a member, you must:</b>
<ul>
    <li>Comply with the association <a href="/pybcn_association/coc">Code of Conduct</a></li>
    <li>Pay a yearly membership fee. The current yearly fee is 20 euros.</li>
</ul>